body{
    font-family: Arial;
    text-align: center;
    margin-top: 50px;

}
button{
    padding: 10px;
}
body{
    background-image: url('image01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}